        .container {
            width: 100%;
            margin: 10% auto 0;
            background-color: #f0f0f0;
            padding: 2% 5%;
            border-radius: 10px
        }

        ul {
            padding-left: 20px;
        }

            ul li {
                line-height: 2.3
            }

        a {
            color: #20a53a
        }
    	#mwmark{transition-duration: 2s}
    	pre {background-color:#95a5a6}
	h2{transition-duration: 2s}